/*general*/
.bg-black {
    background-color:#263238 !important;
    color: #FED706;
}
.bg-yellow{
    background-color:#FED706 !important;
    color: black;
}
  .card-img{
    height:350px;
    width:350px !important;
  }


hr.dividing {
    border-top: 3px solid #FED706;
    max-width: 200px;
}

 /*.card{
    background: #FFFFFF;
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.25);
    border-radius: 20px !important;
  }*/
/*
------------------------------------------

------------------------------------------
*/
/*Tiny device(like my current phone:tecno-y2*/


@media (max-width:767px) {
   
    
    .navbar-brand {
    transform: translateX(-50%);
    left: 50%;
    position: relative;
  }
    
     .jumbotron {
        position: relative;
        height: 100vh;
       
        display:flex;
        align-items: center;
        justify-content: center;
        background-color: white !important;
    }

.jumbotron::before {
    content: "";
    background-image:url(BINARY%20WORLD%202.png) !important;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute !important;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.68;

}
    
    
    
    .jumbotron h1 {
     position: relative;
        top: 30% !important;
     color: #000;
     font-size: 2.5rem !important;
        margin-top: 50px!important;
     line-height: 2rem;
     text-align: center;
     font-weight: 700 !important;

     word-spacing: 0.9em;
     font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
 }
    
    
    
    .jumbotron .lead {
      position: absolute;
      text-align:center;
        margin-top: 2px !important;
        margin-bottom: 2px;
        line-height: 1.8rem !important;

      font-size: 28px !important;
  
      font-weight: 300 !important;
  }
    .demo {
        font-size: 24px;
    }


  .arrow{
    color: black !important;
    background-color: #FED706 !important;
    border:1px black solid !important;
    padding-right: 70px !important;
    padding-left: 70px !important;
    

  }
    
    
    
    
  .card-img{
    height:50% !important;
    width:50% !important;
  }
  .arrow{
    color: black !important;
    background-color:#FED706 !important;
    border:1px black solid !important;
    padding-right: 70px !important;
    padding-left: 70px !important;
  
  }
    .steady{
    max-width: auto;
    max-height: 200px;
}
  
  .jumbotron.btn{
    position: relative;
      top: 640px !important;
   
  }



.footer-mob {
    margin: 0 0 55px 0:
        border-radius:50% !important;
        
}



.footer-mob.nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 55px;
    box-shadow: 0 0 3px rgba(0,0,0,0.2);
    background-color: #2D2907 !important;
    border-radius:50% !important;
    display: flex;
    overflow-x: auto;
    
}
    
   .nav__link {
        display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
       flex-grow: 1;
       min-width: 50px;
       overflow: hidden;
       white-space: nowrap;
       font-size: 13px !important;
       color:#FED706  ;
       text-decoration: none;
       transition: background-color 0.1s ease-in-out;
        background-color: #2D2907 !important;
       
    }
    
    .nav__link:hover {
        color: #000;
        background-color: #FED706  !important;
    }
    
    .nav__link.active {
        color: #000;
        background:  #FED706 !important;
    }
   
    
    
    /*nav*/
  

}





/*Small devices (tablets, 768px and up) */
@media (max-width:992px) {
  /*
  ------------------------------------------------------
  JUMBOTRON
  ------------------------------------------------------
  */
  .navbar-brand {
    transform: translateX(-50%);
    left: 50%;
    position: relative;
  }
    
  .arrow{
    margin-bottom: -3px ;
  }
  
  .jumbotron h1{
    font-size: 40px;

    text-align: center;
    word-spacing: 2em;
    font-family:  "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700 !important;
  }
  
  .jumbotron .lead{
    text-align: center;
    margin-top: 20px;
    font-size: 21px !important;
    line-height: 30px;
   
  }
  
  .arrow{
    color: black !important;
    background-color: #ffca04 !important;
    border:1px black solid !important;
    padding-right: 70px !important;
    padding-left: 70px !important;
    margin-top:25px;
  }

 
    
    
 .carousel-caption img {
        width: 4rem;
        border-radius: 4rem;
        margin-top: 1rem
    }

  
  
  

    .footer-menu {
        background-color:white!important;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
  
    footer {
        background-color:#F7F7F7 !important;
    }
  
}








/* Medium devices (desktops, 992px and up) 
@media (min-width: 992px) {
  WORK IN PROGRESS
}

/*Large devices (large desktops, 1200px and up) */

  
/*
------------------------------------------
NAVBAR
------------------------------------------
*/

.navbar-nav > .nav-item{
  margin-right:10px;
  font-size: 16px;
}

.activeItem{
  border-bottom: 4px #FED706 solid;
}

.navbar-brand{

 /* left: 8%;*/
  margin:0;
  bottom:10%;
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
} 


.big-head {
    
     background-color:#FBFBFB !important;
}
    .jumbotron {
        position: relative;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color:#FBFBFB !important;
    }

.jumbotron::before {
    content: "";
    background-image:url(binarymap.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.68;
}

 .jumbotron h1 {
     position: relative;
     color: #000;
     font-size: 4.8rem;
     line-height: 0.9;
     text-align: center;
     font-weight: 700 !important;

     word-spacing: 0.5em;
     font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
 }
 
  .jumbotron .lead {
      position: relative;
      text-align: center;

      font-size: 38px;
      line-height: 54px;
      font-weight: 600 !important;
  }
.steady{
    max-width: auto;
    max-height: 100px;
}

  .arrow{
    color: black !important;
    background-color: #FED706 !important;
    border:1px black solid !important;
    padding-right: 70px !important;
    padding-left: 70px !important;
    

  }

  .btn{
    position: relative;
    margin-top: 45px;
    margin-bottom: 30px;
    text-align: center !important;
      font-weight: 500;
    }

 

/*about us section*/

  
  

  
  
 


  
  
  

 
  
  .card p {
    font-size: larger;
  }

  

 

  /*our products*/

 
 .card-footer {
  background: #FFFFFF;
 /* box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.25);*/
  border-bottom-left-radius: 20px !important;
       border-bottom-right-radius: 20px !important;
     
  }
.card-footer a {
     color: black;
     border-bottom-left-radius: 20px !important;
       border-bottom-right-radius: 20px !important;
}

.card-header {
    background: #FFFFFF;
 /* box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.25);*/
  border-top-left-radius: 20px !important;
       border-top-right-radius: 20px !important;
   
}


/*our process css*/

ul.timeline {
    list-style-type: none;
    position: relative;
}
ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}
ul.timeline > li:before {
    content: ' ';
    background: #FED706;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
 
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}





/*testimonials*/
.testimonial-car {
   background-color: #F7F7F7;
   
}


#car-wrap {
   justify-content: center;
    display: flex;
    align-items: center;
    
    font-family: 'Open Sans'
}

#car {
    
    max-width: 900px;
   
}

.carousel-caption {
    position: initial;
    z-index: 10;
    padding: 5rem 8rem;
    color: rgba(78, 77, 77, 0.856);
    text-align: center;
    font-size: 1.2rem;
    font-style: italic;
    font-weight: bold;
    line-height: 2rem
}

@media(max-width:767px) {
    .carousel-caption {
        position: initial;
        z-index: 10;
        padding: 3rem 2rem;
        color: rgba(78, 77, 77, 0.856);
        text-align: center;
        font-size: 0.7rem;
        font-style: italic;
        font-weight: bold;
        line-height: 1.5rem
    }
}

.carousel-caption img {
    width: 6rem;
    border-radius: 5rem;
    margin-top: 2rem
}

@media(max-width:767px) {
   
}

#image-caption {
    font-style: normal;
    font-size: 1rem;
    margin-top: 0.5rem
}




@media(max-width:767px) {
    #image-caption {
        font-style: normal;
        font-size: 0.6rem;
        margin-top: 0.5rem
    }
}




.icon-bg {
    background-color: #000;
    color:  #FED706;
    padding: 1.4rem
}



@media(max-width:767px) {
    i {
        padding: 0.2rem;
    }
}

.carousel-control-prev {
    justify-content: flex-start;
}

.carousel-control-next {
    justify-content: flex-end;
}

.carousel-control-prev,
.carousel-control-next {
    transition: none;
    opacity: unset
}



 footer,.talk-to-us,.services,.our-projects {
        background-color:#FBFBFB !important;
    }





