/*general*/
.reprate {
    font-size: 15px;
    font-weight: 500;
}
.bg-black {
    background-color:#263238 !important;
    color: #FED706;
}
.bg-yellow{
    background-color:#FED706 !important;
    color: black;
}
  .card-img{
    height:350px;
    width:350px !important;
  }



hr.dividing {
    border-top: 3px solid #FED706;
    max-width: 200px;
}

.title-box {
  margin-bottom: 4rem;
}

.title-a {
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
}

.subtitle-a {
  color: #4e4e4e;
}
.line-mf {
  width: 40px;
  height: 5px;
 
  margin: 0 auto;
}


.pagination .page-item.active .page-link {
    background: #FED706 !important;
    color: black;
     border-color:#FED706;
}








@media (max-width:767px) {


    .navbar-brand {
        transform: translateX(-50%);
        left: 50%;
        position: relative;
    }

    .jumbotron {
        position: relative;
        height: 100vh;

        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white !important;
    }

    .jumbotron::before {
        content: "";
        background-image: url(BINARY%20WORLD%202.png) !important;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        position: absolute !important;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        opacity: 0.68;

    }



    .jumbotron h1 {
        position: relative;
        top: 30% !important;
        color: #000;
        font-size: 2.5rem !important;
        margin-top: 50px !important;
        line-height: 2rem;
        text-align: center;
        font-weight: 700 !important;

        word-spacing: 0.9em;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    }



    .jumbotron .lead {
        position: absolute;
        text-align: center;
        margin-top: 2px !important;
        margin-bottom: 2px;
        line-height: 1.8rem !important;

        font-size: 28px !important;

        font-weight: 200 !important;
    }

    .demo {
        font-size: 24px;
    }


    .arrow {
        color: black !important;
        background-color: #FED706 !important;
        border: 1px black solid !important;
        padding-right: 70px !important;
        padding-left: 70px !important;


    }




    .card-img {
        height: 50% !important;
        width: 50% !important;
    }

    .arrow {
        color: black !important;
        background-color: #FED706 !important;
        border: 1px black solid !important;
        padding-right: 70px !important;
        padding-left: 70px !important;

    }

    .steady {
        max-width: auto;
        max-height: 200px;
    }

    .jumbotron .btn{
    position: relative;
    top: 60px !important;
      margin-top: 45px;
    margin-bottom: 30px;
    text-align: center !important;
      font-weight: 500;
    }



    .footer-mob {
        margin: 0 0 55px 0: border-radius:5px !important;

    }



    .footer-mob.nav {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 55px;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
        background-color: #fff !important;
        border-top-left-radius: 50px !important;
        border-top-right-radius: 50px !important;
        display: flex;
        overflow-x: auto;

    }

    .nav__link {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-grow: 1;
        min-width: 50px;
        overflow: hidden;
        white-space: nowrap;
        font-size: 13px !important;
        color: #2D2907;
        text-decoration: none;
        transition: background-color 0.1s ease-in-out;
        background-color: #fff !important;

    }

    .nav__link:hover {
        color: #000;
        background-color: #FED706 !important;
    }

    .nav__link.active {
        color: #000;
        background: #FED706 !important;
    }



    /*nav*/






    ul.timeline:before {
        content: ' ';
        background: #d4d9df;
        display: inline-block;
        position: absolute;
        left: 29px !important;
        width: 2px;
        height: 100%;
        z-index: 400;
    }

    ul.timeline > li {
        margin: 20px 0;
        padding-left: 20px;

    }

    ul.timeline > li:before {
        content: ' ';
        background: #FED706;
        display: inline-block;
        position: absolute;
        border-radius: 50%;

        left: 20px !important;
        width: 20px;
        height: 20px;
        z-index: 400;

    }

    .back-to-top {
        bottom: 15px;
    }

}




/*Small devices (tablets, 768px and up) */
@media (max-width:992px) {
  /*
  ------------------------------------------------------
  JUMBOTRON
  ------------------------------------------------------
  */
  .navbar-brand {
    transform: translateX(-50%);
    left: 50%;
    position: relative;
  }
    
  .arrow{
    margin-bottom: -3px ;
  }
  
  .jumbotron h1{
    font-size: 40px;

    text-align: center;
    word-spacing: 2em;
    font-family:  "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700 !important;
  }
  
  .jumbotron .lead{
    text-align: center;
    margin-top: 20px;
    font-size: 21px !important;
    line-height: 30px;
   
  }
  
  .arrow{
    color: black !important;
    background-color: #ffca04 !important;
    border:1px black solid !important;
    padding-right: 70px !important;
    padding-left: 70px !important;
    margin-top:25px;
  }

 
    
    
 .carousel-caption img {
        width: 4rem;
        border-radius: 4rem;
        margin-top: 1rem
    }

  
  
  

    .footer-menu {
        background-color:white!important;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
  
    footer {
        background-color:#F7F7F7 !important;
    }
  
}








/* Medium devices (desktops, 992px and up) 
@media (min-width: 992px) {
  WORK IN PROGRESS
}

/*Large devices (large desktops, 1200px and up) */

  
/*
------------------------------------------
NAVBAR
------------------------------------------
*/
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #000;
    background-color:  #FED706 !important;
}
#nav.second {
    background: #fff;
}
.navbar-nav > .nav-item{
  margin-right:10px;
  font-size: 16px;
}

.activeItem{
  border-bottom: 4px #FED706 solid;
}

.navbar-brand{

 /* left: 8%;*/
  margin:0;
  bottom:10%;
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
} 


.big-head {
    
     background-color:#FBFBFB !important;
}
    .jumbotron {
        position: relative;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color:#FBFBFB !important;
    }

.jumbotron::before {
    content: "";
    background-image:url(binarymap.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.68;
}

 .jumbotron h1 {
     position: relative;
     color: #000;
     font-size: 4.8rem;
     line-height: 0.9;
     text-align: center;
     font-weight: 700 !important;

     word-spacing: 0.5em;
     font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
 }
 
  .jumbotron .lead {
      position: relative;
      text-align: center;

      font-size: 38px;
      line-height: 54px;
      font-weight: 400!important;
  }
.demo {
    font-weight: 600;
}
.steady{
    max-width: auto;
    max-height: 100px;
}

  .arrow{
    color: black !important;
    background-color: #FED706 !important;
    border:1px black solid !important;
    padding-right: 70px !important;
    padding-left: 70px !important;
    

  }

  .jumbotron .btn{
    position: relative;
    
      margin-top: 45px;
    margin-bottom: 30px;
    text-align: center !important;
      font-weight: 500;
    }

 

/*about us section*/

  
  

  
  
 


  
  
  

 
  
  .card p {
    font-size: larger;
  }

  

 

  /*our products*/

 
 .card-footer {
  background: #FFFFFF;
 /* box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.25);*/
  border-bottom-left-radius: 20px !important;
       border-bottom-right-radius: 20px !important;
     
  }
.card-footer a {
     color: black;
     border-bottom-left-radius: 20px !important;
       border-bottom-right-radius: 20px !important;
}

.card-header {
    background: #FFFFFF;
 /* box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.25);*/
  border-top-left-radius: 20px !important;
       border-top-right-radius: 20px !important;
   
}


/*our process css*/

ul.timeline {
    list-style-type: none;
    position: relative;
}
ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 210px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}
ul.timeline > li:before {
    content: ' ';
    background: #FED706;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
 margin-top: 25px;
    left: 200px;
    width: 20px;
    height: 20px;
    z-index: 400;
}





/*testimonials*/
.testimonial-car {
   background-color: #F7F7F7;
   
}


#car-wrap {
   justify-content: center;
    display: flex;
    align-items: center;
    
    font-family: 'Open Sans'
}

#car {
    
    max-width: 900px;
   
}

.carousel-caption {
    position: initial;
    z-index: 10;
    padding: 5rem 8rem;
    color: rgba(78, 77, 77, 0.856);
    text-align: center;
    font-size: 1.2rem;
    font-style: italic;
    font-weight: bold;
    line-height: 2rem
}

@media(max-width:767px) {
    .carousel-caption {
        position: initial;
        z-index: 10;
        padding: 3rem 2rem;
        color: rgba(78, 77, 77, 0.856);
        text-align: center;
        font-size: 0.7rem;
        font-style: italic;
        font-weight: bold;
        line-height: 1.5rem
    }
}

.carousel-caption img {
    width: 6rem;
    border-radius: 5rem;
    margin-top: 2rem
}

@media(max-width:767px) {
   
}

#image-caption {
    font-style: normal;
    font-size: 1rem;
    margin-top: 0.5rem
}




@media(max-width:767px) {
    #image-caption {
        font-style: normal;
        font-size: 0.6rem;
        margin-top: 0.5rem
    }
}




.icon-bg {
    background-color: #000;
    color:  #FED706;
    padding: 1.4rem
}



@media(max-width:768px) {
    i {
        padding: 0.2rem;
    }
}

.carousel-control-prev {
    justify-content: flex-start;
}

.carousel-control-next {
    justify-content: flex-end;
}

.carousel-control-prev,
.carousel-control-next {
    transition: none;
    opacity: unset
}



 footer,.talk-to-us,.services,.our-projects {
        background-color:#FBFBFB !important;
    }




/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
.work-box {
  margin-bottom: 3rem;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: #fff;
}



.work-content {
  padding: 2rem 3% 1rem 4%;
}

.work-content .w-more {
  color: #4e4e4e;
  font-size: .8rem;
}





.work-content  a {
  color: #000;
}

.work-content  a:hover {
  color: #FED706;
}
.w-title {
  font-size: 1.2rem;
}




@media only screen and (max-width:990px) {
    .item {
        margin-bottom: 30px
    }
}






	.item{
			left: 0;
			top: 0;
			position: relative;
			overflow: hidden;
			margin-top:50px;
			
		}
		.item img{
			-webkit-transition: all 1s ease;
  			transition: all 1s ease;
  			 
		}


		.item img:hover{
			-webkit-transform: scale(1.3);
  			transform: scale(1.3);

		}
		.img-thumbnail{
		    border:0px;
		    border-radius:0px;
		}




.footer-paralax {
  padding: 4rem 0 0 0;
}

.contact-mf {
  margin-top: 4rem;
}

@media (min-width: 767px) {
  .contact-mf .box-pl2 {
    margin-top: 3rem;
    padding-left: 0rem;
  }
}

.php-email-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

.php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.php-email-form input, .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

.php-email-form input::focus, .php-email-form textarea::focus {
  background-color:#FED706;
}

.php-email-form input {
  padding: 20px 15px;
}

.php-email-form textarea {
  padding: 12px 15px;
  margin-bottom: 0;
}

.php-email-form button[type="submit"] {
  background: #FED706;
  border: 0;
  padding: 10px 24px;
  color: #000;
  transition: 0.4s;
}

.php-email-form button[type="submit"]:hover {
  background:#FED706;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}







/*--------------------------------------------------------------
# Blog
--------------------------------------------------------------*/
@media (min-width: 767px) {
  .card-blog {
    margin-bottom: 3rem;
  }
}


/*Profile Card 3*/
.profile-card-3 {
  
  position: relative;
  
  overflow: hidden;
  width: 100%;
  text-align: center;
  height:368px;
  border:none;
}
.why-card .avatar {
    width: 120px;
    margin-top: -60px;
    overflow: hidden;
    /*border: 5px solid #Fff;*/
    border-radius: 5px;
}
.why-card .card-body {
    text-align: center;
}

.why img {
    vertical-align: middle;
    border-style: none}
.col-md-4.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #FBFBFB;
   
    }


.why-card .why-card-up{
   
    height: 120px;
    overflow: hidden;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}

.indigo.lighten-1 {
    background-color: #FBFBFB !important;
    
    /*border-bottom: 5px solid #FED706;*/
}


.back-to-top {
    position: fixed;
    display: none;
    background: #0078ff;
    color: #fff;
    width: 44px;
    height: 44px;
    text-align: center;
    line-height: 1;
    font-size: 16px;
    border-radius: 50%;
    right: 15px;
    bottom: 15px;
    transition: background 0.5s;
    z-index: 11;
}



/*------/ Comments /------*/
.box-comments .list-comments li {
  padding-bottom: 40px;
}

.box-comments .list-comments .comment-avatar {
  display: table-cell;
  vertical-align: top;
}

.box-comments .list-comments .comment-avatar img {
  width: 80px;
  height: 80px;
}

.box-comments .list-comments .comment-author {
  font-size: 1.3rem;
}

@media (min-width: 768px) {
  .box-comments .list-comments .comment-author {
    font-size: 1.5rem;
  }
}

.box-comments .list-comments .comment-details {
  display: table-cell;
  vertical-align: top;
  padding-left: 25px;
}

.box-comments .list-comments a {
  color: #FED706;
}

.box-comments .list-comments span {
  color: #1e1e1e;
  font-style: italic;
}

.box-comments .comment-children {
  margin-left: 40px;
}





.post-box,
.form-comments,
.box-comments,
.widget-sidebar {
  padding: 2rem;
  background-color: #fff;
  margin-bottom: 3rem;
}

@media (min-width: 768px) {
  .post-box,
  .form-comments,
  .box-comments,
  .widget-sidebar {
    padding: 3rem;
  }
}

/*--/ Title Left /--*/
.title-box-2 {
  margin-bottom: 3rem;
}

.title-left {
  font-size: 2rem;
  position: relative;
}

.title-left:before {
  content: '';
  position: absolute;
  height: 3px;
  background-color:#FED706;
  width: 100px;
  bottom: -12px;
}
 .list-comments.box-comments {list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}





/*--------------------------------------------------------------
# Project Details
--------------------------------------------------------------*/
.project-details {
  padding-top: 30px;
}

.project-details .project-details-container {
  position: relative;
}

.project-details .project-details-carousel {
  position: relative;
  z-index: 1;
}



.project-details .project-details-carousel .owl-dot {
  display: inline-block;
  margin: 0 10px 0 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ddd !important;
}



.project-details .project-info {
  padding: 30px;
  position: absolute;
  right: 0;
  bottom: -70px;
  background: #fff;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  z-index: 2;
}

.project-details .project-info h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.project-details .project-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}

.project-details .project-info ul li + li {
  margin-top: 10px;
    
}


.project-details .project-info a {
  
    color: #4C4C4C;
}
.project-details .project-info a:hover {
  
    color: #FED706;
}


.project-details .project-description {
  padding-top: 50px;
}

.project-details .project-description h2 {
  width: 50%;
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}

.project-details .project-description p {
  padding: 0 0 0 0;
}


@media (max-width: 768px) {
  .project-details .project-description h2 {
    width: 100%;
  }
  .project-details .project-info {
    position: static;
    margin-top: 30px;
  }
}


footer a{
    color: #4C4C4C;
}
footer a:hover {
    color: #FED706;
}