/*body {
    overflow-x: hidden;
    font-family: 'lato',sans-serif;
    color: #505962;
}

.navbar {
    text-transform: uppercase;
    font-weight: 700;
    font-size: .9rem;
    letter-spacing: .1rem;
    background: rgba(0,0,0,0.6)!important;
}

.navbar-nav li {
    padding-right: .7rem;
}

.navbar-dark .navbar-nav .navbar-link.active,
.navbar-dark .navbar-nav .navbar-link:active {
    color: #1ebba3;
    
    
}
*/
/*landing page
.html,
body,
header,
.view {
  height: 100%;
}

@media (max-width: 740px) {
  html,
  body,
  header,
  .view {
    height: 100vh;
  }
}

.top-nav-collapse {
  background-color: #78909c !important;
}

.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}

@media (max-width: 991px) {
  .navbar:not(.top-nav-collapse) {
    background: #78909c !important;
  }
}

h1 {
  letter-spacing: 8px;
}

h5 {
  letter-spacing: 3px;
}

.hr-light {
  border-top: 3px solid #fff;
  width: 80px;
}*/

html,
body,
header,
.view {
  height: 97%;
}
body {
    
    font-family: 'lato',sans-serif;
   
    margin-bottom: 20px;
}
.btn-outline-primary {
    color: #FED706 !important;
    border-color: #FED706 !important;
}
.btn-outline-primary:hover {
    background-color: #FED706 !important;
    color: #000 !important;
    border-color: transparent !important;
}

.navbar-brand {

}

nav.navbar.navbar-expand-lg {
    background-color: black !important;
    border-top: 1px solid #FED706 !important;
}
.nav .nav-item .nav-link.chat {
    background-color: #FED706 !important;
    color: #000 !important;
    
}

a.navbar-brand.pr-2{
    color: #FED706 !important;
}


.navbar .nav li a:active {
    color: #FED707;
}

.uzu-solutions h1,.uzu-solutions p {
    color: #FED706;
    
}

.nav .nav-item .nav-link {
     color: #FED706;
}

.nav .nav-item .nav-link:active,.nav .nav-item .nav-link:hover {
     color: #000;
    background-color: #FED706;
}



.fa-map-marker-alt:before {
    content: "\f3c5";
    color: #000;
    background-color: #FED706;
}

@media (max-width: 991px) {
  
}

h1 {
  letter-spacing: 2px;
}

h5 {
  letter-spacing: 2px;
}

.hr-light {
  border-top: 3px solid #fff;
  width: 80px;
}

/*about su*/
.about-us li a {
    color: #000;
    display: inline-block;
    height: 42px;
    width: 42px;
    font-size: 20px;
    border: 2px solid #d4d4d4;
    border-radius: 50%;
    line-height: 40px;
    transition: .5s all;
    text-align: center;
}

.about-us li a:hover {
    color: #FED706 !important;
}
@media (max-width: 740px) {
  html,
  body,
  header,
  .view {
    height: 100vh;
  }
}


.services {
   background-color: #F7F7F7;
   
}
.services h2 {
     color: honeydew;
}

.why-choose-us {
    background-color: #0D0D0D;
}

.testimonial {
   background-color: #F7F7F7;
   
}







#car-wrap {
   justify-content: center;
    display: flex;
    align-items: center;
    
    font-family: 'Open Sans'
}

#demo {
    
    max-width: 900px;
   
}

.carousel-caption {
    position: initial;
    z-index: 10;
    padding: 5rem 8rem;
    color: rgba(78, 77, 77, 0.856);
    text-align: center;
    font-size: 1.2rem;
    font-style: italic;
    font-weight: bold;
    line-height: 2rem
}

@media(max-width:767px) {
    .carousel-caption {
        position: initial;
        z-index: 10;
        padding: 3rem 2rem;
        color: rgba(78, 77, 77, 0.856);
        text-align: center;
        font-size: 0.7rem;
        font-style: italic;
        font-weight: bold;
        line-height: 1.5rem
    }
}

.carousel-caption img {
    width: 6rem;
    border-radius: 5rem;
    margin-top: 2rem
}

@media(max-width:767px) {
    .carousel-caption img {
        width: 4rem;
        border-radius: 4rem;
        margin-top: 1rem
    }
}

#image-caption {
    font-style: normal;
    font-size: 1rem;
    margin-top: 0.5rem
}

@media(max-width:767px) {
    #image-caption {
        font-style: normal;
        font-size: 0.6rem;
        margin-top: 0.5rem
    }
}

.icon-bg {
    background-color: #000;
    color:  #FED706;
    padding: 1.4rem
}

@media(max-width:767px) {
    i {
        padding: 0.8rem
    }
}

.carousel-control-prev {
    justify-content: flex-start
}

.carousel-control-next {
    justify-content: flex-end
}

.carousel-control-prev,
.carousel-control-next {
    transition: none;
    opacity: unset
}














#team-wrap {
     background-image: linear-gradient(#3F51B5, #1A237E);
     background-repeat: no-repeat;
     color: #000;
     overflow-x: hidden
 }

 .intro p {
     color: #fff
 }

 .intro h2 {
     font-weight: bold;
     margin-bottom: 40px;
     padding-top: 40px;
     color: #fff
 }

 @media (max-width:767px) {
    .intro h2 {
         margin-bottom: 25px;
         padding-top: 25px;
         font-size: 24px
     }
 }

 .intro {
     font-size: 16px;
     max-width: 500px;
     margin: 0 auto
 }

 .intro p {
     margin-bottom: 0
 }

 .people {
     padding: 50px 0;
     cursor: pointer
 }

 .item {
     margin-bottom: 30px
 }

 .item .box {
     text-align: center;
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
     height: 280px;
     position: relative;
     overflow: hidden
 }

 .item .cover {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background-color: rgba(31, 148, 255, 0.75);
     transition: opacity 0.15s ease-in;
     opacity: 0;
     padding-top: 80px;
     color: #fff;
     text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15)
 }

 .item:hover .cover {
     opacity: 1
 }

 .item .name {
     font-weight: bold;
     margin-bottom: 8px
 }

 .item .title {
     text-transform: uppercase;
     font-weight: bold;
     color: #bbd8fb;
     letter-spacing: 2px;
     font-size: 13px;
     margin-bottom: 20px
 }

.people.cover.item .social {
     font-size: 18px
 }

 .social a {
     color: inherit;
     margin: 0 10px;
     display: inline-block;
     opacity: 0.7
 }

 .social a:hover {
     opacity: 1
 }




/*personal portfolio parallax effect*/


/*skill section*/


.skills .progress {
    height: 8px;
    border-radius: 10px;
    font-size: 10px;
    
    
}

.progress-bar{
    background-color:  #FED706;
    color: #000;
}

.skill label {
    font-size: 20px;
    margin: 10px;
   
}







/*timeline css*/

ul.timeline {
    list-style-type: none;
    position: relative;
}
ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}
ul.timeline > li:before {
    content: ' ';
    background: #FED706;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
 
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}

